In [34]:
import os
import pandas as pd
import numpy as np


os.chdir('C:/Users/elias/Desktop/DataSet/DS_Salarios/')

# Lee el archivo Excel
df = pd.read_excel("ds_salarios.xlsx")

   work_year experience_level employment_type                 job_title  \
0       2023               SE              FT  Principal Data Scientist
1       2023               MI              CT               ML Engineer
2       2023               MI              CT               ML Engineer
3       2023               SE              FT            Data Scientist
4       2023               SE              FT            Data Scientist

   salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0   80000             EUR          85847                 ES           100
1   30000             USD          30000                 US           100
2   25500             USD          25500                 US           100
3  175000             USD         175000                 CA           100
4  120000             USD         120000                 CA           100

  company_location company_size
0               ES            L
1               US            S
2               US            S
3               CA            M
4               CA            M

In [16]:
print(df.head())

   work_year experience_level employment_type                 job_title  \
0       2023               SE              FT  Principal Data Scientist
1       2023               MI              CT               ML Engineer
2       2023               MI              CT               ML Engineer
3       2023               SE              FT            Data Scientist
4       2023               SE              FT            Data Scientist

   salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0   80000             EUR          85847                 ES           100
1   30000             USD          30000                 US           100
2   25500             USD          25500                 US           100
3  175000             USD         175000                 CA           100
4  120000             USD         120000                 CA           100

  company_location company_size
0               ES            L
1               US            S
2               US            S
3               CA            M
4               CA            M

Analisis de sueldos Data science

Analisis General:
- Promedio Salarial es USD por año.
- Salario promedio general.
- Salario según el nivel de experiencia.
- El porcentaje que representan dichos salarios.
- Salario de acuerdo al tipo de empleo y al tamaño de la empresa.
Analisis por pais:
- promedio por continenten y pais

Análisis por Empresa
- Se quiere identificar si puede tener alguna influencia el tamaño de la empresa con el salario promedio
    anual ofrecido por cada una de ellas.

Experiencia vs Tipo de Empleo
- el objetivo es comparar las diferencias que hay en el salario promedio en USD de acuerdo al nivel
  de experiencia de los analistas.

In [17]:
print(df.shape)

(3755, 11)

In [18]:
print(df.describe)

<bound method NDFrame.describe of       work_year experience_level employment_type                 job_title  \
0          2023               SE              FT  Principal Data Scientist
1          2023               MI              CT               ML Engineer
2          2023               MI              CT               ML Engineer
3          2023               SE              FT            Data Scientist
4          2023               SE              FT            Data Scientist
...         ...              ...             ...                       ...
3750       2020               SE              FT            Data Scientist
3751       2021               MI              FT  Principal Data Scientist
3752       2020               EN              FT            Data Scientist
3753       2020               EN              CT     Business Data Analyst
3754       2021               SE              FT      Data Science Manager

       salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0       80000             EUR          85847                 ES           100
1       30000             USD          30000                 US           100
2       25500             USD          25500                 US           100
3      175000             USD         175000                 CA           100
4      120000             USD         120000                 CA           100
...       ...             ...            ...                ...           ...
3750   412000             USD         412000                 US           100
3751   151000             USD         151000                 US           100
3752   105000             USD         105000                 US           100
3753   100000             USD         100000                 US           100
3754  7000000             INR          94665                 IN            50

     company_location company_size
0                  ES            L
1                  US            S
2                  US            S
3                  CA            M
4                  CA            M
...               ...          ...
3750               US            L
3751               US            L
3752               US            S
3753               US            L
3754               IN            L

[3755 rows x 11 columns]>

In [43]:
sueldosMayores50usd = df['salary_in_usd'] > 50000
print(sueldosMayores50usd.head())
dfSM50 = df.loc[sueldosMayores50usd,:]
print(dfSM50.head())

0     True
1    False
2    False
3     True
4     True
Name: salary_in_usd, dtype: bool
   work_year experience_level employment_type                 job_title  \
0       2023               SE              FT  Principal Data Scientist
3       2023               SE              FT            Data Scientist
4       2023               SE              FT            Data Scientist
5       2023               SE              FT         Applied Scientist
6       2023               SE              FT         Applied Scientist

   salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0   80000             EUR          85847                 ES           100
3  175000             USD         175000                 CA           100
4  120000             USD         120000                 CA           100
5  222200             USD         222200                 US             0
6  136000             USD         136000                 US             0

  company_location company_size
0               ES            L
3               CA            M
4               CA            M
5               US            L
6               US            L